*{
    margin: 0;
    padding: 0;
}

body{

    display: flex;
    justify-content:center;
    align-items:center;
    /* centralização dos itens */
    height: 100vh;
    font-family: Arial;
    gap: 20px;
    /* gap= distancia dos cards */

}
.card {
    /* olhar depois o que quer dizer cada passo a passo */
   background-color: #f6f7bb;
   /* cor da pagina */
   width: 200px;
   height: 240px;
   border-radius: 15px;
   box-shadow: 4px 4px 10px rgba(128,128,128,0.783);
}
.card img {
    /* ver essas alterações */
    width: 50%;
    height: 140px;
    border-top-left-radius:12px;
    border-top-left-radius:12px;
    margin-left: 20%;
    margin-top: 10%;

}
.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 30px;

    
}
.card h1{
    font-size: 0.9rem;
    color: #5c5c5c;
}
.card button {
    /* botão */
    background-color: #1682e7;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}
.card button:hover {
    /* cursor */
    background-color: #81b6eb;
    cursor: pointer;
}
